
body {
    background-color: #ffead1;
    background-image: url("../image/BOARD.jpg");
    background-size: 40% 93%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#main {
    position: relative;
    text-align: center;
}

.beginBtn {
    position: absolute;
    margin-left: 75%;
    margin-top: 12%;
}

.hover {
    /*border: 2px solid firebrick;*/
    cursor: pointer;
}

.check {
    border: 2px solid firebrick;
}

.chessImg, .emptyImg {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 6px;
    height: 50px;
    width: 50px;

}